#searchResults{
    max-width: 450px;
    width: 100%;
    border-radius: 25px;
    background-color: #fff;
   
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
    position: absolute;
    z-index: 999;
    border: #7a7a7a;
    display: none;
   
    
}
#searchResults li{
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 25px;
    text-align: center;
}
#searchResults li a{
    color: #7a7a7a;
    font-size: 13px;
}
#searchResults li a:hover{
    background-color:#f1f1f1
}
#displayImage{
    display: none;
    position: absolute;
    left: 520px;
    width: 200px;
    height: 200px;
 
    
}
#topTvAnime{
    overflow: scroll ;
}
#topTvAnime img {
height: 350px ;
object-fit: cover;
}
#upcomingSeries{
    overflow: scroll;
}

#topCategory{
   
    overflow: scroll;
}
#topCategory img{
    width: 200px;
    height: 200px;
}
#randomCharacter span.name{
  background-color: #ee626b;
  padding: 5px 10px;
  border-radius: 25px;
  position: relative;
  color: #f1f1f1;

}
#randomCharacter img{
    height: 500px;
}
